{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Modifier Epreuve {{ epreuve.nom }}</h1>

        {% form_theme edit_form 'form_template.html.twig' %}

        {{ form_start(edit_form, {'attr':{'class':'form-horizontal','id':'editEpreuveForm'}}) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" class="btn btn-success"/>
        {{ form_end(edit_form) }}
    </div>
    <div class="row">
        {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer" class="btn btn-danger"/>
        {{ form_end(delete_form) }}
    </div>
    <div class="row">
        <a href="{{ path('epreuve_index') }}" class="btn btn-warning">Retour</a>
    </div>

{% endblock %}
