{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <h1>Liste des Epreuves</h1>
    </div>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Equipes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for epreuve in epreuves %}
            <tr>
                <td>{{ epreuve.nom }}</td>
                <td>
                {% for equipe in epreuve.equipes %}
                    {{ equipe.nom }},
                {% endfor %}
</td>
                <td>
                    <a href="{{ path('epreuve_show', { 'id': epreuve.id }) }}" class="btn btn-info btn-xs">Afficher</a>
                    <a href="{{ path('epreuve_edit', { 'id': epreuve.id }) }}" class="btn btn-warning btn-xs">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">

            <a href="{{ path('epreuve_new') }}" class="btn btn-success">Ajouter une épreuve</a>
</div>
<div class="row">
            <a href="{{ path('back_index') }}" class="btn btn-warning">Retour</a>
</div>

{% endblock %}
