{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <h1>Nouvelle epreuve</h1>
    </div>
    <div class="row">
        {% form_theme form 'form_template.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Enregistrer" class="btn btn-success"/>
    {{ form_end(form) }}
        </div>
        <div class="row">

            <a href="{{ path('epreuve_index') }}" class="btn btn-warning">Retour</a>
</div>
{% endblock %}
