{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Epreuve {{ epreuve.nom }}</h1>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Equipe</th>
                    <th>Classement</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                {% for equipe in epreuve.equipes %}
                    {% set add=true %}
                    <tr>
                        <td>{{ equipe.nom }}</td>
                        <td>
                            {% for classement in equipe.classement %}
                                {% if classement.epreuve.id == epreuve.id %}
                                {{ classement.place }}e : {{ classement.pts }} Pts
                                {% endif %}
                            {% endfor %}

                        </td>
                        <td>
                            {% for classement in equipe.classement %}
                                {% if classement.epreuve.id == epreuve.id %}
                                    <a href="{{ path('classement_edit', {'id':classement.id}) }}">Modifier</a>
                                    {% set add=false %}
                                {% endif %}

                            {% endfor %}
                            {%  if add %}
                                <a href="{{ path('classement_new', {'epreuve':epreuve.id, 'equipe':equipe.id}) }}">Ajouter</a>
                            {% endif %}
                            </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <a href="{{ path('epreuve_edit', { 'id': epreuve.id }) }}" class="btn btn-info">Modifier</a>
        </div>
        <div class="col-lg-2">
            {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer" class="btn btn-danger"/>
            {{ form_end(delete_form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <a href="{{ path('epreuve_index') }}" class="btn btn-warning">Retour</a>
</div>
    </div>

    </div>
{% endblock %}
