<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Classement{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/bootstrap-theme.css') }}" rel="stylesheet">
            <link href="{{ asset('css/default.css') }}" rel="stylesheet">
            <!-- Optional theme -->
            <link href="{{ asset('css/jumbotrom.css') }}" rel="stylesheet">
           {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container">
        <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="{{ path('classement_final') }}">Classement </a></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li role="presentation"><a href="{{ path('user_index') }}">Utilisateurs</a></li>
                <li role="presentation"><a href="{{ path('equipe_index') }}">Equipe</a></li>
                <li role="presentation"><a href="{{ path('epreuve_index') }}">Epreuve </a></li>

                <li role="presentation"><a href="{{ path('fos_user_security_logout') }}">deconnexion</a></li>
                    {% else %}
                        <li role="presentation"><a href="{{ path('back_index') }}">Connexion/back </a></li>
                {% endif %}

            </ul>
        </nav>
            </div>
            {% block body %}{% endblock %}
    </div>
        {% block javascripts %}
            <!-- Latest compiled and minified JavaScript -->
            {#<script src="{{ asset('js/bootstrap.js') }}"></script>#}
        {% endblock %}
    </body>
</html>
