{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-horizontal'}}) }}

<div class="form-group">
    {{ form_label(form.username, 'Utilsateur', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-7">
        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.email, 'Mail', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-7">
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    {{ form_widget(form) }}
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</div>


{{ form_end(form) }}
