{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Utilisateur : {{ user.username }}</h1>
        {% if app.session.flashBag.has('info') %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {% for msg in app.session.flashBag.get('info') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {% form_theme edit_form 'form_template.html.twig' %}
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" class="btn btn-info"/>
        {{ form_end(edit_form) }}
    </div>
    <div class="row">
        {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer" class="btn btn-danger"/>
        {{ form_end(delete_form) }}
    </div>
    <div class="row">
        <a href="{{ path('user_index') }}" class="btn btn-warning">Retour</a>
    </div>
{% endblock %}
