{% extends 'base.html.twig' %}
{% block title %}Utilisateur{% endblock %}
{% block body %}
    <div class="row">
    <h1>Liste des utilisateurs</h1>
    {% if app.session.flashBag.has('info') %}
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {% for msg in app.session.flashBag.get('info') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Utilisateur</th>
                <th>Dernière connexion</th>
                <th>Actif</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{% if user.lastLogin %}{{ user.lastLogin|date('d/m/Y') }}{% endif %}</td>
                <td>{% if user.enabled %} 1 {% else %} 0 {% endif %}</td>
                <td>
                    {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-xs btn-info">Afficher</a>
                    <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-xs btn-warning">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
<div class="row">
    <a href="{{ path('user_new') }}" class="btn btn-success">Ajouter un utilisateur</a>
</div>
<div class="row">
    <a href="{{ path('back_index') }}" class="btn btn-warning">Retour</a>
</div>
{% endblock %}
