{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
    <h1>Utilisateur : {{ user.username }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>                    {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}</td>
                <td>{% if user.lastLogin %}{{ user.lastLogin|date('d/m/Y') }}{% endif %}</td>
                <td>{% if user.enabled %} 1 {% else %} 0 {% endif %}</td>
            </tr>
        </tbody>
    </table>
    </div>
<div class="row">
    <a href="{{ path('user_edit', { 'id': user.id }) }}"class="btn btn-info"/>Modifier</a>
</div>
    <div class="row">
    {{ form_start(delete_form) }}
    <input type="submit" value="Supprimer" class="btn btn-danger"/>
    {{ form_end(delete_form) }}
    </div>
    <div class="row">
    <a href="{{ path('user_index') }}" class="btn btn-warning">Retour</a>
</div>
{% endblock %}
