{% extends 'base.html.twig' %}

{% block body %}
    <h1>Classement Générale</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Place</th>
                <th>Equipe</th>
                <th>Pts</th>

            </tr>
        </thead>
        <tbody>
        {% for place, classement in classements %}
            <tr>
                <td>{{ place + 1 }}</td>
                <td>{{ classement.nom }}</td>
                <td>{{ classement.pts }}</td>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
