{% extends 'base.html.twig' %}

{% block body %}
    <h1>Classement list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Place</th>
                <th>Pts</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classement in classements %}
            <tr>
                <td><a href="{{ path('classement_show', { 'id': classement.id }) }}">{{ classement.id }}</a></td>
                <td>{{ classement.place }}</td>
                <td>{{ classement.pts }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('classement_show', { 'id': classement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('classement_edit', { 'id': classement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
