{% extends 'base.html.twig' %}

{% block body %}
    <h1>Classement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ classement.id }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ classement.place }}</td>
            </tr>
            <tr>
                <th>Pts</th>
                <td>{{ classement.pts }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('classement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('classement_edit', { 'id': classement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
