{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Connexion {% endblock %}
{% block extracss %}
    <link href="{{ asset('css/signin.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="account-container">


        <div class="content clearfix">

            <form action="{{ path("fos_user_security_check") }}" method="post">

                <h1>Connexion</h1>

                <div class="login-fields">

                    <p>Merci de saisir vos identifiants</p>

                    <div class="field">
                        <label for="username">Utilisateur</label>
                        <input type="text" id="username" name="_username" value="" placeholder="Utilisateur" class="username-field" />
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="password">Utilisateur:</label>
                        <input type="password" id="password" name="_password" value="" placeholder="Mot de passe" class="login password-field"/>
                    </div> <!-- /password -->

                </div> <!-- /login-fields -->

                <div class="login-actions">

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" class="form-control"/>
                    <input type="submit" id="_submit" name="_submit" value="Connexion" class="btn btn-lg btn-primary btn-block" />
                    <a href="{{ path('classement_final') }}" class="btn btn-lg btn-block btn-warning">Retour</a>

                </div> <!-- .actions -->



            </form>

        </div> <!-- /content -->

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </div> <!-- /account-container -->


{% endblock %}
{% block extrajs %}
{% endblock %}

