{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Modifier l'équipe : {{ equipe.nom }}</h1>

        {% form_theme edit_form 'form_template.html.twig' %}
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" class="btn btn-info"/>
        {{ form_end(edit_form) }}
    </div>
    <div class="row">

        {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer" class="btn btn-danger"/>
        {{ form_end(delete_form) }}
    </div>
    <div class="row">
        <a href="{{ path('equipe_index') }}" class="btn btn-warning">Retour</a>
    </div>
{% endblock %}
