{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Liste des equipes</h1>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Epreuves</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for equipe in equipes %}
                <tr>
                    <td>{{ equipe.nom }}</td>
                    <td>
                        {% for epreuve in equipe.epreuves %}
                            {{ epreuve.nom }}<br/>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('equipe_edit', { 'id': equipe.id }) }}" class="btn btn-warning btn-xs">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <a href="{{ path('equipe_new') }}" class="btn btn-success">Nouvelle équipe</a>
    </div>
    <div class="row">
        <a href="{{ path('back_index') }}" class="btn btn-warning">Retour</a>
    </div>
{% endblock %}
