{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">


    <h1>Equipe {{ equipe.nom }}</h1>
    </div>
    <div class="row">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Epreuves</th>
                <td>{{ equipe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="row">


        <a href="{{ path('equipe_edit', { 'id': equipe.id }) }}"class="btn btn-info">Modifier</a>

        {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer" class="btn btn-danger">
        {{ form_end(delete_form) }}

        <a href="{{ path('equipe_index') }}" class="btn btn-warning">Retour</a>
    </div>
{% endblock %}
